services:
  db:
    image: postgres:14.19-alpine3.21
    container_name: local_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - local_pgdata:/var/lib/postgresql/data
    networks:
      - bdd-network
    security_opt:
      - no-new-privileges:true
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: turnover_api
    restart: always
    ports:
      - "8000:8000"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: ${DB_NAME}
    volumes:
      - ./app:/app/app
      - ./data:/app/data
    networks:
      - bdd-network
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  pgadmin:
    depends_on:
      - db
    image: elestio/pgadmin:REL-9_8
    container_name: pgadmin4_container
    ports:
      - "8080:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - bdd-network
    env_file:
      - .env

volumes:
  local_pgdata:
  pgadmin_data:

networks:
  bdd-network:
